.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

data/aura.db
data/logs/

AURA_presentation.aux
AURA_presentation.pdf
AURA_presentation.log
AURA_presentation.nav
AURA_presentation.out
AURA_presentation.snm
AURA_presentation.toc
